.achievements{
    width: 100%;
    margin: auto;
    animation: 
        fadein 2s;
}
.achievement-title-container{
    width: 90%;
    padding: 50px 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    animation: fadein 2s;
}
.subtitle{
    margin: auto 0;
}
.achievement-img{
    margin: auto 0;
    animation: fadein 2s;
    min-width: 300px;
}
.achievement-card{
    width: 90%;
    margin: auto;
    padding: 40px 0px;
}
.achievements h2{
    margin-top: auto;
}
.achievements p{
    font-size: 1.3em;
    line-height: 40px;
    margin-bottom: auto!important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media all and (orientation: portrait) {
    .achievement-title-container{
        justify-content: space-around;
    }
}