.blog{
    margin: auto;
    animation: fadein 2s;
}
.blog-title-container{
    width: 90%;
    padding: 50px 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    animation: fadein 2s;
}

.btitle{
    margin: auto;
}


.blog-cards-container{
    padding-bottom: 3rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}