.copyright{
    text-align: center;
}
.footer-link-container{
    padding-top: 50px;
    width:100%;
    display: flex;
    flex-direction: row;
}
.footer-links{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;

}   

.footer-links a{
    text-align: left;
    font-weight: 700;
    font-size: 1.00em;
}