@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.header{
    background-color: #04131f;
    padding-bottom: 1.45rem;
    animation: fadein 2s;
}
.header-div{
    margin: auto;
    padding: 1.45rem 1.0875rem;
}
.header-content{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.title{
    font-family: 'Liu Jian Mao Cao', cursive;
    font-weight: normal;
    color: #FF3366;
    transition: 0.3s
}
.title:hover{
    color: #20A4F3; 
}
.links{
    margin: auto 0px;
}
.links a{
    padding: 10px;
    font-size: 0.6em;
    text-decoration: none;
    color: #F6F7F8; 
    animation: fadein 3s;
    transition: 0.25s;
}
.links a:hover{
    color: #2EC4B6;
}