@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.header{
    background-color: #04131f;
    padding-bottom: 1.45rem;
    animation: fadein 2s;
}
.header-div{
    margin: auto;
    padding: 1.45rem 1.0875rem;
}
.header-content{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.title{
    font-family: 'Liu Jian Mao Cao', cursive;
    font-weight: normal;
    color: #FF3366;
    transition: 0.3s
}
.title:hover{
    color: #20A4F3; 
}
.links{
    font-size: 0.65em;
    margin: auto 0px;
}
.links a{
    padding: 0px 4vw;
    font-size: 0.6em;
    text-decoration: none;
    color: #F6F7F8; 
    animation: fadein 3s;
    transition: 0.25s;
}
.links a:hover{
    color: #2EC4B6;
}
#mobile-title, .mobile-menu{
    display: none;
    transition: 0.3s;
}
.mobile-menu{
    width: 100%;
    height: 100%;
    padding-top: 30px;
    position: absolute;
    background-color: #04131f;
    z-index: 99;
    -webkit-transform:translate3d(0,0,0);
            transform:translate3d(0,0,0);
}
#mobile-menu-title{
    margin: 30px auto;
    font-size: 2em;
    animation: fadein 0.5s;
    transition: 0.2s; 
}
.mobile-link{
    margin: 3vh auto;
    text-decoration: none;
    color: #F6F7F8;
    animation: fadein 1s;
    transition: 0.25s; 
}
.hidden{
    opacity: 0;
}
@media all and (orientation: portrait) {
    
    .nav-link{
        position: absolute;
        display: none;
    }
    .title{
        font-size: 8vw;
        line-height: auto;
    }
    #mobile-title{
        font-size: 8vw;
        display: block;
    }
    #desktop-title{
        display: none;
    }
    .header-content{
        display: flex;
        flex-direction: row;
    }
    .hamburger{
        padding: 0px!important;
    }
    .activated{
        display: flex;
        flex-direction: column;
    }    
}
@media all and  ( orientation: landscape){
    .hamburger{
        display: none!important;
    }
}