h1{
    font-size: 3em;
    line-height: 1.05em;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
}
.intro-container, .about-container, .contact-container{
    width: 100%;
    padding: 50px 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    animation: fadein 2s;
}
.frame{

}
.interests-container{
    padding: 130px 20px;
    text-align: center;
    margin: auto;
}
.interests-container>h1{
    font-size: 2.5em;
}
.interests{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}
.interest-card{
    font-weight: 700;
    margin: auto;   
}
.interest-card>p{
    margin-top: 40px;   
}
.icon{
    margin: auto;
    max-width: 120px;
}
.intro-container>div, .about-container>div, .contact-container>div{
    padding: 15px 0px;
}
.intro,.about,.contact{
    width: 50%!important;
    margin: auto ;
}
.intro p,.about p,.contact p{
    font-size: 1.5em;
    line-height: 1.375em;
}
.avatar{
    margin: auto;
    animation: fadein 2s;
    min-width: 400px;
    min-height: 400px;
}
.about-img{
    margin: auto;
    min-width: 400px;
    min-height: 400px;
}
.contact-img{
    margin:auto;
    min-width: 400px;
    min-height: 400px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media all and (orientation: portrait) {
    h1{
        font-size: 2em;
        line-height: 1.25em;
    }
    .intro p,.about p, .contact p{
        font-size: 1.25em;
        line-height: 1.25em;
    }
    .intro, .about,
    .contact{
        width: 80%!important;
    }
    .intro-container, .about-container, .contact-container{
        text-align: justify;
        justify-content: space-between;
    }
}
@media (device-width: 100vw) and (orientation: landscape) {
    .about{
        width: 70%;
    }
    .contact{
        width: 60%;
    }
}
