h1{
    font-size: 3em;
    line-height: 1.05em;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
}
.intro-container, .about-container, .contact-container{
    width: auto;
    padding: 50px 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    animation: fadein 2s;
}
.socials-container{
    display: flex;
    flex-direction: row;
    margin: 50px 0px;
    margin-bottom: 10px;
}
.socials-container>*{
    margin: auto;
    margin-left: 0;
    width: 48px;
}
.socials:hover{
    transition: 0.3s;
    transform: scale(1.1);
    filter: brightness(200%);
}
.interests-container,.organizations-container{
    padding: 130px 20px;
    text-align: center;
    margin: auto;
}
.interests-container>h1,.organizations-container>h1{
    font-size: 2.5em;
}
.interests{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}
.organizations{
    margin-top: 100px;
}
.interest-card{
    transition: 0.3s;
    font-weight: 700;
    margin: auto;   
}
.interest-card:hover{
    transform: scale(1.1);
}
.interest-card>p{
    margin-top: 40px;   
    transition: 0.3s;
}
.interest-card>p:hover{
    transform: scale(1.1);
}
.icon{
    transition: 0.3s;
    margin: auto;
    max-width: 120px;
}
.icon:hover{
    transform: scale(1.1);
}
.intro-container>div, .about-container>div, .contact-container>div{
    padding: 15px 0px;
}
.intro,.about,.contact{
    width: 50%;
    margin: auto ;
}
.intro p,.about p,.contact p{
    font-size: 1.5em;
    line-height: 1.375em;
}
.avatar{
    margin: auto;
    animation: fadein 2s;
    min-width: 400px;
    min-height: 400px;
}
.avatar:hover{
    transition: 0.3s;
    transform: scale(1.1);

}
.about-img{
    margin: auto;
    min-width: 400px;
    min-height: 400px;
    transition: 0.3s;
    transform: translateX(30px);
}
.about-img:hover{
    transform: scale(1.05);
}
.contact-img{
    margin:auto;
    min-width: 400px;
    min-height: 400px;
    transition: 0.3s;
    transform: rotate(30deg);
}
.contact-img:hover{
    transform: scale(1.05);
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media all and (orientation: portrait) {
    h1{
        font-size: 3em;
        line-height: 1.25em;
        word-wrap: normal;
    }
    .socials-container{
        margin-bottom: auto;
    }
    .socials-container>*{
        margin: auto;
        width: 32px;
    }
    .intro,.about,.contact{
        width: auto;
        margin: auto ;
    }
    .intro p,.about p, .contact p{
        font-size: 1.5em;
        line-height: 1.5em;
        word-wrap: normal;
    }
    .contact>p>a{
        word-wrap: break-word;
    }
    .intro, .about,
    .contact{
        text-align: center;
        width: auto;
    }
    .intro-container, .about-container, .contact-container{
        justify-content: space-between;
    }
    .avatar{
        min-width: 90vw;
        min-height: 90vw;
    }
    .about-img, .contact-img{
        min-width: 50vw;
        min-height: 50vw;
        margin-bottom: 7vw;
    }
    .interests{
        padding-top: 10vw;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .interest-card{
        margin: 10px 0px;   
    }
}