.projects{
    margin: 150px auto;
    animation: fadein 2s;
}
.projects p{
    font-size: 1.3em;
    line-height: 40px;
}
.project-card-container{
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}