.projects{
    margin: auto;
    animation: fadein 2s;
}
.projects-title-container{
    width: 90%;
    padding: 50px 0px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    animation: fadein 2s;
}
.subtitle{
    margin: auto 0;
}
.project-img{
    margin: auto 0;
    animation: fadein 2s;
    min-width: 300px;
}
.projects p{
    font-size: 1.3em;
    line-height: 40px;
}
.project-card-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media all and (orientation: portrait) {
    .projects-title-container{
        justify-content: space-around;
    }
}