.project-card-content{
    margin: 50px auto;
    width: 20rem;
    padding: 10px;
    border-radius: 15px;
    background: #FF3366;
    transition: 0.5s;
}
.project-card-content:hover{
    background: #20A4F3;
}
.project-name{
    margin-top: 10px;
    color:#F6F7F8;
    text-align: center;
}
.project-info{
    margin: 20px auto;
    max-width: 80%;
    text-align: center;
    color: #F6F7F8;
}