.project-card-content{
    margin: 50px auto;
    width: 20rem;
    padding: 10px;
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3), -1px -1px 7px -3px rgba(255, 255, 255, 0.3);
    border-radius: 13px;
}
.project-card-content:hover{
    background-color: #FF3366c4;
}
.project-name{
    margin-top: 10px;
    color:#F6F7F8;
    text-align: center;
}
.project-info{
    margin: 20px auto;
    max-width: 80%;
    text-align: center;
    color: #F6F7F8;
}